
#header{
    background-color: blue;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#main-content{
    background-color: rgb(42, 165, 63);
    text-align: center;
    padding: 10px;
    margin: 10px;
}
#footer{
    background-color: blueviolet;
    text-align: center;
    padding:10px ;
    margin: 10px;
}